@charset "UTF-8";
@font-face {
  font-family: "Neutra Text";
  font-style: normal;
  font-weight: 400;
  src:
  url("/fonts/NeutraDisp-Medium.eot?#iefix") format("embedded-opentype"),
  url("/fonts/NeutraDisp-Medium.woff2") format("woff2"),
  url("/fonts/NeutraDisp-Medium.woff") format("woff"),
  url("/fonts/NeutraDisp-Medium.ttf") format("truetype"),
  url("/fonts/NeutraDisp-Medium.svg#Neutra Text") format("svg");
}

@font-face {
  font-family: "Neutra Text";
  font-style: normal;
  font-weight: 300;
  src:
  url("/fonts/NeutrafaceText-Light.eot?#iefix") format("embedded-opentype"),
  url("/fonts/NeutrafaceText-Light.woff2") format("woff2"),
  url("/fonts/NeutrafaceText-Light.woff") format("woff"),
  url("/fonts/NeutrafaceText-Light.ttf") format("truetype"),
  url("/fonts/NeutrafaceText-Light.svg#Neutra Text") format("svg");
}

@font-face {
  font-family: "Neutra Text";
  font-style: normal;
  font-weight: 700;
  src:
  url("/fonts/NeutrafaceDisplay-Bold.eot?#iefix") format("embedded-opentype"),
  url("/fonts/NeutrafaceDisplay-Bold.woff2") format("woff2"),
  url("/fonts/NeutrafaceDisplay-Bold.woff") format("woff"),
  url("/fonts/NeutrafaceDisplay-Bold.ttf") format("truetype"),
  url("/fonts/NeutrafaceDisplay-Bold.svg#Neutra Text") format("svg");
}

@font-face {
  font-family: "Neutra Text";
  font-style: normal;
  font-weight: 900;
  src:
  url("/fonts/NeutrafaceDisplay-Titling.eot?#iefix") format("embedded-opentype"),
  url("/fonts/NeutrafaceDisplay-Titling.woff2") format("woff2"),
  url("/fonts/NeutrafaceDisplay-Titling.woff") format("woff"),
  url("/fonts/NeutrafaceDisplay-Titling.ttf") format("truetype"),
  url("/fonts/NeutrafaceDisplay-Titling.svg#Neutra Text") format("svg");
}

@font-face {
  font-family: "Basilia";
  font-style: normal;
  font-weight: 700;
  src:
  url("/fonts/Basilia-Bol.eot?#iefix") format("embedded-opentype"),
  url("/fonts/Basilia-Bol.woff2") format("woff2"),
  url("/fonts/Basilia-Bol.woff") format("woff"),
  url("/fonts/Basilia-Bol.ttf") format("truetype"),
  url("/fonts/Basilia-Bol.svg#Basilia") format("svg");
}

@font-face {
  font-family: "NeutraTextTF";
  font-style: normal;
  font-weight: 700;
  src:
  url("/fonts/NeutraTextTF-BoldAlt.eot?#iefix") format("embedded-opentype"),
  url("/fonts/NeutraTextTF-BoldAlt.woff2") format("woff2"),
  url("/fonts/NeutraTextTF-BoldAlt.woff") format("woff"),
  url("/fonts/NeutraTextTF-BoldAlt.ttf") format("truetype"),
  url("/fonts/NeutraTextTF-BoldAlt.svg#NeutraTextTF") format("svg");
}

html { height: 100%; }
body { height: 100%; }
ul { margin: 0; padding:0 }
hr { margin: 0 !important; padding: 0 !important;}

#__next {
  height: 100%;
  background-color: #F3F3F3;
  overflow-y: scroll;
}

$theme-colors: (
  "primary": #eb3324,
  "secondary": #387F78,
);

$navbar-padding-y: 0;
$navbar-padding-x: 0;

$form-group-margin-bottom: .5rem !default;

$enable-rounded: false !default;
$enable-shadows: true !default;

$headings-color: #ffffff;
$headings-font-weight: 800 !default;

$link-color:#ffffff;
$link-hover-color: #ffffff;
$link-hover-decoration: none !default;

$grid-gutter-width: 100px !default;

$navbar-light-color: #000000;
$navbar-light-hover-color: #000000;
$navbar-light-active-color: #000000;
$navbar-light-disabled-color: #000000;
$navbar-light-toggler-border-color: #000000;

$card-border-width: 0;
$card-border-radius: 0;
$card-bg: none;
$card-color: #000000;

$hr-border-color: rgb(151, 150, 150) !default;
$hr-border-width: 1.5px !default;

$font-family-sans-serif: "Neutra Text", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

@import "bootstrap.scss";
