html { height: 100%; }
body { height: 100%; }
ul { margin: 0;  padding:0 }

#__next { height: 100%; }

$theme-colors: (
  "primary": #2b4d82,
  "secondary": #2b4d82
);

$headings-color: #2b4d82;

$navbar-light-color: #ffffff;
$navbar-light-hover-color: #ffffff;
$navbar-light-active-color: #ffffff;
$navbar-light-disabled-color: #ffffff;
$navbar-light-toggler-border-color: #ffffff;

$form-group-margin-bottom: .5rem !default;

$table-head-color: #2b4d82;
$table-head-bg: rgba(0, 0, 0, 0.03);

@import "bootstrap.scss";

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
}
